@import url('http://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
.spoka * { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }
@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}
*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none; }
.centerBox{width: 980px; margin: 0 auto;}
a{text-decoration: none; color:black;}
p,a,h1,h2,h3{font-family:"Noto Sans KR" ;}
h2{font-size: 2em;}
img{width: inherit; height: inherit; object-fit: cover;}
html,body{overflow-x: hidden;}
@media screen and (max-width:1920px) {
    .mobile{
        display: none;
    }
    .mobile2{
        display: none;
    }
    .mobile_menu{
        display: none;
    }
    header{
        height: 180px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 50;
    }
    .Hmenu{
        width: 800px;
        padding-top: 50px;
        margin: 0 auto;
    }
    .headMenu{
        width: 800px;
        margin: 0 auto;
        border-bottom: 1px solid black ;
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .headMenu > div:first-child{
        display: flex;
        align-items: center;
    } 
    .headMenu > div:first-child > a{
        margin:10px;
        width: 20px;
        height: 30px;
        position: relative;
    }
    .headMenu > div:first-child > a p,
    .headMenu > div:first-child > a i{
        position: absolute;
    }
    .headMenu > div:first-child > a i{
        font-size: 34px;
        display:none;
    }
    .headMenu .logo{
        width: 10vw;
    }
    .headMenu .logo >a {
        width: inherit;
    }
    .headMenu .logo  a img{
        width: inherit;
    }
    .headMenu .login{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .headMenu .login > a:first-child{
        margin-right:20px ;
    }
    .naviMenu{
        display: none;
        background-color: #666;
        width: 100%;
        height: 650px;
        position: absolute;
        left: 0;
        z-index: 50;
    }
    .naviMenu .centerBox{
        width: 1400px;
        margin: 0 auto;
    }
    .naviMenu p{
        font-size: 1.5em;
        padding: 25px 0;
        color: #fff;
        border-bottom: 1px solid #efefef;
    }
    .naviMenu nav > ul{
        margin-top: 30px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    .naviMenu nav > ul > li{
        width: 12%;
    }
    .naviMenu nav ul li ul{
        padding-top: 10px;
    }
    .naviMenu nav > ul > li > a{
        display: block;
        color: #fff;
        padding: 16px;
        text-align: center;
        border-bottom: 1px solid #777;
    }
    .naviMenu nav ul li ul li a{
        padding: 16px;
        display: block;
        text-align: center;
        color: #ccc;
        white-space: nowrap;
    }
    .secMenu{
        padding-top: 10px;
        position: relative;
        z-index: 60;
    }
    .secMenu > ul{
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    .secMenu >ul >li > a{
        display: block;
        font-weight: bold;
        color:antiquewhite;
        padding-bottom:18px ;
    }
    .secMenu ul li ul{
        position: absolute;
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        justify-content: center;
        width: 100%;
        left: 0;
    }
    .secMenu ul li ul li{
        margin: 0 20px;
    }
    .secMenu ul li ul li a{
        color: #fff;
        white-space: nowrap;
    }
    .subBg{
        display: none;
        position: absolute;
        width: 100%;
        height: 40px;
        background-color: #00000055;
        z-index: 50;
        top: 170px;
    }
    .s1{
        width: 100%;
        height: 800px;
    }
    .s1 .swiper{
        height: 100%;
    }
    .s1 .swiper .swiper-slide{
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .s1 .swiper .sw1{
        background-image: url(../img/se1.jpg);
    }
    .s1 .swiper .sw2{
        background-image: url(../img/se2.jpg);
        background-position: top;
    }
    .s1 .swiper .sw3{
        background-image: url(../img/se3.jpg);
    }
    .s1 .swiper .sw4{
        background-image: url(../img/se4.jpg);
    }
    .s1 .swiper .sw5{
        background-image: url(../img/se5.jpg);
    }
    .s2{
        padding:50px 0;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
    .s2 .centerBox  p{
        display: inline-block;
        padding-right: 15px;
    }
    .s2 .centerBox .more{
        display: flex;
        justify-content: flex-end;
        padding-top: 20px;
    }
    .s2 .centerBox .more a{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .s2 .accommodations{
        width: 980px;
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
    }
    .s2 .accommodations >div{
        width: 23%;
        border-radius: 5px;
    }
    .s2 .mobile1{
        display: none;
    }
    .s2 .sph{
        width: 100%;
        height: 350px;
        position: relative;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2);
    }
    .s2 .accommodations div .sph:hover .sul{
        padding: 0 20px;
        text-align: center;
        display: flex;
        color: white;
        align-items: center;
        justify-content: center;
        background-color: rgba(1,1,1,0.6);
        width:100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .s2 .accommodations div .sph .sul p{
        display: none;
        padding:20px 0 ;
        border-bottom: 1px solid white;
        border-top: 1px solid white;
    }
    .s2 .accommodations div .sph:hover .sul p{
        display: block;
    }
    .s2 .accommodations div:first-child .sph::before{
        content: "1";
        position: absolute;
        top: 0;
        left: 0;
        padding: 5px;
        width:30px;
        height:30px ;
        background-color: #fff;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid red; 
    }
    .s2 .accommodations div:nth-child(2) .sph::before{
        content: "2";
        position: absolute;
        top: 0;
        left: 0;
        padding: 5px;
        width:30px;
        height:30px ;
        background-color: #fff;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid red;
    }
    .s2 .accommodations div:nth-child(3) .sph::before{
        content: "3";
        position: absolute;
        top: 0;
        left: 0;
        padding: 5px;
        width:30px;
        height:30px ;
        background-color: #fff;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid red;
    }
    .s2 .accommodations div:last-child .sph::before{
        content: "4";
        position: absolute;
        top: 0;
        left: 0;
        padding: 5px;
        width:30px;
        height:30px ;
        background-color: #fff;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid red;
    }
    .s2 .over{
        padding: 20px 0;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid black;
    }
    .s2 .over >a{
        font-size: 1.2em;
        color: #D37676;
    }
    .s2 .accommodations .heart{
        margin-top:15px;
        display: flex;
        justify-content: space-between;
    }
    .s2 .accommodations .heart p{
        font-family: 'Spoqa Han Sans';
        color: #fff;
    }
    .s2 .accommodations .heart >div:first-child{
        display: flex;
        align-items: center;
    }
    .s2 .accommodations .heart >div:last-child p{
        color: black;
    }
    .s2 .accommodations .heart >div{
        width: 100px;
        padding: 5px 15px;
        background-color: #999;
        border-radius: 5px ;
    }
    .s2 .accommodations .heart > div:first-child{
        border: 1px solid #481E14;
        background-color: rgba(0, 0, 0, 0.7);
    }
    .s2 .accommodations .heart > div:last-child{
        width:52%;
        background-color: rgba(65, 201, 226,1);
        text-align: center;
        border: 1px solid black;
        cursor: pointer;
        padding: 5px 10px;
    }
    .s2 .accommodations .heart > div:last-child p{
        padding: unset;
    }
    .s2 .RB{
        background-color: rgba(220,235,250,0.8);
        width: 100vw;
    }
    .s2 .reservation{
        margin: 50px auto 0;
        display: flex;
        flex-flow: row nowrap;
        width: 50%;
        justify-content: center;
        padding: 20px 0;
    }
    .s2 .reservation div:last-child{
        border-right: none;
    }
    .s2 .reservation .inputText{
        border: 0;
        background-color: transparent;
        margin-right: 12px;
        outline: none;
        padding: 0 10px;
    }
     .s2 .reservation >div div >a{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .s2 .reservation a p{
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .s2 .reservation #placeBox >div{
        display: flex;
        flex-flow: row nowrap;
        border-bottom: 1px solid black;
    }
    .s2 .reservation #placeBox >div div{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .s2 .reservation >div{
        display: flex;
        padding-right: 25px;
        padding-left: 25px;
        border-right:2px solid white;
    }
    
    .s2 .reservation >div i{ 
        width: 1.5vw;
        margin: 0 10px;
        cursor: pointer;
    }
    .s3{
        padding: 50px 0;
        position: relative;
    }
    .s3 .inner{
        display: flex;
        justify-content: space-between;
    }
    .s3 .inner .s3_left{
        width: 57%;
        height: 490px;
    }
    .s3 .inner .s3_left .eventSlide .swiper1 .swiper-slide{
        padding: 0 30px 20px 0;
    }
    .s3 .inner .s3_left .eventSlide .swiper .swiper-slide h4{
        border-top: 3px solid #999;
        border-bottom: 3px solid #999;
        padding: 7px 0;
        color: #008DDA;
        font-size: 1.2em;
    }
    .s3 .inner .s3_left .eventSlide .swiper .swiper-slide h4,p{
        text-align: center;
    }
    .s3 .inner .s3_left .eventSlide .swiper .swiper-slide p{
        padding: 6px 12px;
        font-size: 0.9em;
    }
    .s3 .inner .s3_left .eventSlide{
        display: flex;
        position: relative;
        padding-top: 30px;
    }
    .s3 .inner .s3_left .eventSlide > div{
        width: 50%;
        height: 230px;
    }
    .s3 .inner .s3_left .eventSlide div img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .s3 .inner .s3_left .eventSlide .pagination_bullet{
        position: absolute;
        left: 0;
        top: -13px;
        width: 180px;
        height: 30px;
    }
    .s3 .inner .s3_left .eventSlide .pagination_bullet span{
        width: 33%;
        border-radius: 0;
        margin: 0;
        height: 2px;
    }
    .s3 .inner .s3_left .eventSlide .pagination_fraction{
        position: absolute;
        left: 294px;
        top: -10px;
        height: 30px;
        color: #333;
        width: 60px; 
    }
    .s3 .inner .s3_left .eventSlide .swiper-button-prev{
        position: absolute;
        left:200px;
        top: 16px;
        z-index: 100;
        width: 14px;
        height: 16px;
    }
    .s3 .inner .s3_left .eventSlide .swiper-button-prev:after{
        font-size: 16px;
        font-weight: bold;
        color: #333;
    }
    .s3 .inner .s3_left .eventSlide .swiper-button-next{
        position: absolute;
        left:230px;
        top: 16px;
        z-index: 100;
        width: 14px;
        height: 16px;
    }
    .s3 .inner .s3_left .eventSlide .swiper-button-next:after{
        font-size: 16px;
        font-weight: bold;
        color: #333;
    }
    .s3 .inner .s3_left .eventSlide .autoBtn{
        position: absolute;
        z-index: 100;
        top: -6px;
        left: 265px;
        width: 18px;
        height: 18px;
        cursor: pointer;
    }
    .s3 .inner .s3_left .eventSlide .autoBtn i{
        position: absolute;
        font-size: 18px;
    }
    .s3 .inner .s3_left .eventSlide .autoBtn i.fa-caret-right{
        display: none;
    }


    .s3 .inner .s3_left .eventPhoto{
        width: 100%;
        height: 200px;
        margin-top: 30px;
        border-radius: 5px;
        line-height: 0;
        font-size: 0;
        float: left;
        overflow: hidden;
        box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2);
    }
    .s3 .inner .s3_right{
        width: 40%;
        height: 490px;
        position: relative;
        border-radius: 5px;
        line-height: 0;
        float: left;
        overflow: hidden;
        box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2);
    }
    .s3 .inner .s3_right img{
        width: 100%;
        height: 100%;
    }
    .s3 .inner .s3_right >p{
        position: absolute;
        top: 40%;
        left: 36%;
        width: 30%;
        height: 30%;
        z-index: 50;
        font-size: 1.5em;
        font-weight: bold;
        line-height: 1.5em;
    }
    .s3 .inner .s3_right .s3_logo{
        width: inherit;
        position: absolute;
        top: 20%;
        left: 30%;
    }
    .s3 .centerBox h2{
        display: inline-block;
        padding-bottom: 80px;
    }
    .s3 .ColorBox{
        background-color: #999;
        width: 250px;
        height: 10px;
        position: relative;
    }
    .s3 .centerBox .blueBox{
        width: 50px;
        height: 10px;
        position: absolute;
        left: 0;
        top: 0;
        background-color: blue;
    }
    /* 보라색 박스 부분 */
    .s3 >div:last-child{
        width: 100vw;
        height: 280px;
        position: relative;
    }
    .s3 .purple{
        width: 100vw;
        height: 400px;
        position: absolute;
        top: -25%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .s3 .purple::before{
        content: "";
        background-color: #7469B6;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -20;
    }
    .s3 .purple .centerBox{
        display: flex ;
        justify-content: space-between;
        align-items: center;
    }
    .s3 .purple .centerBox > div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        cursor: pointer;
        height: 90px;
        z-index: 50;
    }
    .s3 .purple .centerBox > div p{
        padding-top: 20px;
        color: #fff;
    }
    .s4{
        padding-top:50px ;
        background-color: #10439F;
        width: 100vw;
        padding-bottom: 50px;
    }
    .s4 h2,.s4 p,.s4 a,.s4 h3{
        color: #fff;
    }
    .s4 img{
        border-radius: 20px;
        height: 100%;
        width: 100%;
    }
    .s4 >.centerBox .s4Menu_bigBox{
        width:100%;
        display: flex;
        justify-content: flex-end;
        overflow: hidden;
        margin-bottom: 30px;
    }
    .s4 .centerBox .s4Menu{
        background-color: #A8CD9F;
        display: flex;
        justify-content: space-between;
        width: 30%;
        padding: 12px 18px;
        border-radius: 8px;
    }
    .s4 .centerBox >div:nth-child(3){
        display: flex;
        justify-content: flex-end;
    }
    .s4 .centerBox >div:nth-child(3) >a{
        display: flex;
    }
    .s4 .centerBox .s4BigBox{
        display: flex;
        justify-content: space-between;
    }
    .s4 .centerBox .s4BigBox .BigBox_left {
        width: 280px;
    }
    .s4 .centerBox .s4BigBox .BigBox_left div:first-child div{
        overflow: hidden;
        height: 400px;
    }
    .s4 .centerBox .s4BigBox .BigBox_left .book{
        display: flex;
        padding: 12px 0;
        justify-content: space-between;
    }
    .s4 .centerBox .s4BigBox .BigBox_left .book > div{
        padding: 12px;
        background-color: rgb(91, 188, 255);
        cursor: pointer;
        width: 48%;
        font-weight: bold;
        border-radius: 5px;
    }
    .s4 .centerBox .s4BigBox .BigBox_left .book > div:first-child{
        background-color: transparent;
        border: 1px solid white;
    }
    .s4 .centerBox .s4BigBox .BigBox_left > div{
        width: 100%;
        position: relative;
    }
    .s4 .centerBox .s4BigBox .BigBox_left > div:first-child:before{
        content: "1";
        position: absolute;
        top: -12px;
        left: 20px;
        width: 50px;
        height: 50px;
        font-size: 1.2em;
        background-color: red;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 0.1em solid #fff;
        border-radius: 0 0 50% 50% ;
        box-shadow: 5px 5px 5px 2px rgb(0,0,0,0.3);
    }
    .s4 .centerBox .s4BigBox .BigBox_left > div >img{
        width: 100%;
        height: 380px;
        padding-bottom: 20px;
        border-radius: 5px;
    }
    .s4 .centerBox .s4BigBox .BigBox_right{
        width: 65%;
    }
    .s4 .centerBox .s4BigBox .BigBox_right >div >h3{
        border-bottom: 1px solid #666;
        padding-bottom: 12px;
        font-size: 1.5em;
    }
    .s4 .centerBox .s4BigBox .BigBox_right >div >p{
        text-align: left;
        padding: 12px 0;

    }
    .s4 .centerBox .s4BigBox .BigBox_right >div .dec{
        line-height: 1.8em;
        font-size: 1.3em;
    }
    .s4 .centerBox .s4BigBox .BigBox_right .right_imageBox{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding-top: 50px;
        position: relative;
    }
    .s4 .centerBox .s4BigBox .BigBox_right .right_imageBox >div{
        width:190px;
        position: relative;
    }
    .s4 .centerBox .s4BigBox .BigBox_right .right_imageBox >div .book{
        display: flex;
        justify-content: space-between;
    }
    .s4 .centerBox .s4BigBox .BigBox_right .right_imageBox>div img{
        width: 100%;
        height: 300px;
        cursor: pointer;
        margin-bottom: 20px;
    }
    .s4 .centerBox .s4BigBox .BigBox_right .right_imageBox>div:nth-child(2) img{
        object-position:75% 78%; 
    }
    .s4 .centerBox .s4BigBox .BigBox_right .right_imageBox>div:first-child:before{
        content: "2";
        position: absolute;
        top: -12px;
        left: 20px;
        width: 40px;
        height: 40px;
        background-color: red;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 0.1em solid #fff;
        border-radius: 0 0 50% 50% ;
        box-shadow: 5px 5px 5px 2px rgb(0,0,0,0.3);
    }
    .s4 .centerBox .s4BigBox .BigBox_right .right_imageBox>div:nth-child(2):before{
        content: "3";
        position: absolute;
        top: -12px;
        left: 20px;
        width: 40px;
        height: 40px;
        background-color: red;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 0.1em solid #fff;
        border-radius: 0 0 50% 50% ;
        box-shadow: 5px 5px 5px 2px rgb(0,0,0,0.3);
    }
    .s4 .centerBox .s4BigBox .BigBox_right .right_imageBox>div:nth-child(3):before{
        content: "4";
        position: absolute;
        top: -12px;
        left: 20px;
        width: 40px;
        height: 40px;
        background-color: red;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 0.1em solid #fff;
        border-radius: 0 0 50% 50% ;
        box-shadow: 5px 5px 5px 2px rgb(0,0,0,0.3);
    }
    footer{
        background-color: #666;
        width: 100vw;
        padding: 50px 0;
    }
    footer p,footer a,footer li{
        font-size: 0.9em;
        color: #fff;
    }
    footer .intro ul{
        display: flex;
        justify-content: space-between;
        width: 80%;
    }
    footer .inform {
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 30px 0;
    }
    footer .inform >div:first-child{
        width: 20%;
        padding-right: 50px;
    }
    footer .inform >div img{
        width: 100%;
    }
    footer .inform >div p{
        white-space: nowrap;
        text-align: left;
    }
    footer .copy{
        display: flex;
        justify-content: space-between;
    }
    footer .copy div{
        display: flex;

    }
    footer .copy div >p:first-child{
        width: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer .copy div p{
        width: 25px;
        white-space: nowrap;
        margin: 0 10px;
    }
    }
/* 태블릿 버전 */
@media screen and (max-width:1400px) {
    header{
        height: 180px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 50;
    }
    .Hmenu{
        width: 800px;
        padding-top: 50px;
        margin: 0 auto;
    }
    .mobile{
        display: none;
    }
    .Hmenu .naviMenu .centerBox{
        width: unset;
    }
    .headMenu{
        width: 800px;
        margin: 0 auto;
        border-bottom: 1px solid black ;
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .headMenu > div:first-child{
        display: flex;
        align-items: center;
    }
    .naviMenu{
        height: unset;
        z-index: 80;
    } 
    .naviMenu nav > ul{
        flex-flow: row wrap;
    }
    .naviMenu nav > ul > li{
        width: 180px;
    }
    .headMenu > div:first-child > a >p{
        width: 3vw;
        font-size: 1.5em;
    }
    .headMenu > div:first-child > a:last-child{
        display: none;
    }
    .headMenu > div:first-child > a p,
    .headMenu > div:first-child > a i{
        position: absolute;
    }
    .headMenu > div:first-child > a i{
        font-size: 34px;
        display:none;
    }
    .headMenu .logo{
        width:15vw;
    }
    .headMenu .logo >a {
        width: inherit;
    }
    .headMenu .logo  a img{
        width: 100%;
        height: 100%;
    }
    .headMenu .login{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .headMenu .login a{
        margin-right: 2vw;
    }
    .headMenu .login a >p{
        font-size: 1.2em;
    }
    .s2 .centerBox .more >p{
        font-size: 1.2em;
    }
    .s2 .accommodations {
        width: 90%;
    }
    .s2 .accommodations >div:last-child{
        display: none;
    }
    .s2 .accommodations >div{
        width: 30%;
    }
    .s2 .reservation{
        width: 70%;
    }
    
}
@media screen and (max-width:430px ) {
    html,body{
        height: 100%;
    }
    .centerBox{
        width: 90%;
    }
    .header{
        position: fixed;
          display: flex;
          align-items: center;
          width: 100%;
          height: 60px;
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
          transition: all 0.3s ease-out;
          transform: translate3d(0,0,0);
          background-color: white;
    }
    .header.scroll-up {
        transform: translate3d(0,-60px,0);
      }
      .header.scroll-down {
          transform: translate3d(0,0,0);
      }
    header .centerBox{
        width: 100%;
    }
    .Hmenu{
        width: 100%;
        padding-top: unset;
    }
    .wrapper{
        position: relative;
        z-index: 1;
    }
    .secMenu{
        display: none;
    }
    .headMenu{
        border-bottom: unset;
        padding-bottom: unset;
    }
    .headMenu > div:first-child{
        display: none;
    }
    .headMenu .logo{
        padding-top: 10px;
        padding-bottom: 10px;
        width: 20vw;
    }
    .headMenu .login{
        display: none;
    }
    .mobile{
        position: fixed;
        height: 70px;
        bottom: 0;
        left: 0;
        width: 100vw;
        background-color: white;
        z-index: 9999;
        display: block;
    }
    .mobile >div{
        display:flex;
        justify-content: space-around;
        padding: 10px 0;
        position: relative;
    }
    .mobile >div >div a{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
    .mobile >div >div a p{
        margin: 10px;
    }
    .headMenu{
        width: 90%;
    }
    .headMenu .ticket{
        position: unset;
        width: unset;
        height: unset;
        background-color: unset;
        padding: 20px 0 20px 20px;
    }
    .headMenu .login a >p{
        font-size: 1em;
    }
    .headMenu > div:first-child > a{
        margin: 0;
    }
    .headMenu > div:first-child > a >p{
        width: 6vw;
    }
    .naviMenu{
        background-color: white;
    }
    .s1{
        height: 500px;
    }
    .swiper-button-prev, .swiper-rtl .swiper-button-next{
        display: none;
    }
    .swiper-button-next, .swiper-rtl .swiper-button-prev{
        display: none;
    }
    .s2{
        padding: 0;
        background-color: #10439F;
        border-bottom: unset;
        border-top: unset;
    }
    .s2 h2{
        width: 90%;
        margin: 0 auto;
    }
    .s2 .more{
        width: 90%;
        margin: 0 auto;
    }
    .s2 .centerBox{
        padding-top: 50px;
        border-radius: 30px 30px 0 0;
        background-color: white;
        width: 100%;
        padding-bottom: 50px;
    }
    .s2 h2{
        font-size: 1em;
    }
    .s2 .centerBox .more p{
        font-size: 1em;
    }
    .s2 .centerBox .over a{
        font-size: 1em;
    }
    .s2 .accommodations{
        overflow: visible;
        margin: 0;
        margin-left: 20px;
    }
    .s2 .accommodations >div{
        width: 50%;
    }
    .s2 .accommodations div .sph:hover .sul{
        display: none;
    }
    .s2 .accommodations >div:last-child{
        display: flex;
    }
    .s2 .over{
        width: 90%;
        margin: 0 auto;
    }
    .s2 .pcV{
        display: none;
    }
    .s2 .mobile1{
        display: block;
    }
    .s2 .mobile1 .swiper-slide{
        position: relative;
    }
    .s2 .mobile1 .heart{
        position: absolute;
        bottom: 30px;
        left: 20px;
    }
    .s2 .mobile1 .heart >div{
        margin-right: 10px ;
        padding: unset;
        cursor: pointer;
    }
    .s2 .RB{
        display: none;
    }
    .s3{
        padding:0;
    }
    .s3 .centerBox h2{
        font-size: 1em;
        padding-bottom: 50px;
    }
    .s3 .centerBox .inner{
        width: 100%;
    }
    .s3 .centerBox .inner .s3_left{
        width: 100%;
    }
    .s3 .centerBox .inner .s3_right{
        display: none;
    }
    .s3 .inner .s3_left .eventSlide .swiper .swiper-slide p{
        padding: 0;
    }
    .s3 .inner .s3_left .eventPhoto{
        height: 100px;
    }
    .s3 >div:last-child{
        height: 250px;
    }
    .s3 .purple{
        top:-50%;
    }
    .s3 .purple .centerBox > div:last-child{
        display: none;
    }
    .s4 .centerBox .m1{
        display: none;
    }
    .s4 .centerBox >div:nth-child(3){
        margin-bottom: 20px;
    }
    .s4 .centerBox .s4Menu{
        width: 80%;
        margin: 20px 0;
    }
    .s4 >.centerBox .s4Menu_bigBox{
        margin-bottom: unset;
    }
    .s4 .centerBox .s4Menu div a p{
        white-space: nowrap;
        padding: 0 10px;
    }
    .s4 .mobile2{
        display:block;
    }
    .s4 .swiper {
        width: 100%;
        height: 100%;
    }
    .s4 .swiper-slide{
        height: 150px;
    }
    .s4 .swiper-slide div{
        height: 100%;
    }
    .s4 .swiper-slide img {
        display: block;
        width: 100%;
        object-fit: initial;
    }
    .s4 .swiper-slide > div{
        position: relative;
    }
    .s4 .swiper-slide div >p{
        position: absolute;
        bottom: 10%;
        left: 10px;
        text-align: left;
        white-space: nowrap;
    }
    .s4 .s4BigBox{
        display: none !important;
    }
    footer{
        padding:30px 0 80px;
    }
    footer .centerBox .intro ul{
        flex-flow: row wrap;
    }
    footer .centerBox .intro ul li{
        padding: 0 5px;
    }
    footer .centerBox .intro ul li >a{
        white-space: nowrap;
    }
    footer .inform{
        padding: 15px 0;
    }
    footer .inform >div:first-child{
        display: none;
    }
    footer .copy{
        flex-flow: column wrap;
    }
    footer .copy >p{
        text-align: left;
    }
    footer .copy div p{
        width: 20px;
        margin:10px 5px 15px;
    }
    .mobile_menu{
        width: 80%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index:9998;
        background-color: white;
        display: none;
    }
    .mobile_menu >div{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        padding: 30px 0;
    }
    .mobile_menu >div img{
        width: 100%;
    }
    .mobile_menu >div .M_image{
        width: 30%;
    }
    .mobile_menu >div .M_image img{
        width: 100%;
    }
    .mobile_menu >div .M_login{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 20px;
    }
    .mobile_menu >div .M_login >a{
        margin: 0 7px;
    }
    .mobile_menu nav >ul >li {
        border-bottom: 1px solid black;
    }
    .mobile_menu nav a{
        display: block;
        padding: 20px;
    }
    .mobile_menu nav ul li ul{
        display: none;
    }
    .mobile_menu nav ul li ul li a{
        padding: 30px;
        border-top: 1px solid black;
        background-color: #FFC55A;
    }
}
